
#carouselSlider{
    width: 60vw;
    position: relative;
    .slick-slider{
        width: 100%;
        display: flex;
        align-items: center;
        .custom-prev-arrow{
            position: absolute;
            left: -40px;
            z-index: 1;
            height: 100%;
            display: flex;
            align-items: center;
            color: white;
            font-size: 2rem;
            transition: 0.2s ease;
        }  
        .custom-prev-arrow:hover{
            transform: scale(1.4);
        }  
        .custom-next-arrow{
            position: absolute;
            right: -40px;
            z-index: 1;
            height: 96%;
            display: flex;
            align-items: center;
            color: white;
            font-size: 2rem;
            transition: 0.2s ease;
        }    
        .custom-next-arrow:hover{
            transform: scale(1.4);
        }  
        
    }
        
    .containerImg{
        height: 12.5vw;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        padding: 0px 2px;
        img{
            
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
    }
    
    .containerImg:hover{
        img{
            transform: scale(1.2);
        }
    }
     
}